*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: 'Outfit', sans-serif;
  font-weight: 400; 
  background-color:  hsl(212, 45%, 89%);
}
.qr-code{
    display: grid;
    place-items: center;
}
.card{
    background-color: white;
    max-width: 25em;
    padding: 1.5rem;
    margin: 4rem 0;
    border-radius: 1.5rem;
}
.image{
    border-radius: 1.5rem;
    width: 100%;
    margin-bottom: 1rem;
}
.des{
    display: grid;
    place-items: center;
}
h2{
    color: hsl(218, 44%, 22%);
    font-size: 28px;
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
}
p{
    color: hsl(216, 15%, 48%);
    line-height: 1.5;
    width: 75%;
    text-align: center;
}
@media(max-width:375px ){
    body{
        display: block;
    }
    .qr-code{
        padding: 2rem;
        
    }
    .card{
        width: 300px;
        margin: 2rem 3rem;
        padding: 1rem;
    }
    h2{
        width: 250px;
        font-size: 20px;
    }
    p{
        width: 250px;
    }

}
